.collection-item{
    display:flex;
    border:none;
    background-color:transparent;
    border-radius:10px;
    padding-block:10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.collection-item:hover{
    background-color: #E5E7EB;
}
.collection-item:hover .collection-remove{
    display:flex;
}
.collection-item h4{
    font-family: 'Be Vietnam Pro', sans-serif;
    display:flex;
    margin-bottom:5px;
    margin-top:10px;
}
.collection-item p{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin:0px;
    display:flex;
}
.collection-item img{
    width:60px;
    height:60px;
    object-fit: fill;
    border-radius: 5px;
    margin-right: 15px;
}
.collection-button-info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.collection-item-info{
    display: flex;
}
.collection-remove{
    display:none;
    padding:5px;
    padding-block:10px;
    background-color: transparent;
    border:none;
    border-radius:15px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.collection-remove::before{
    position: relative;
    content: url(./assets/Remove.svg);
    display:inline-block;
    left:-10px;
}